.modal-container {
    padding: 10px 10px;
}

.switch-form-container{
    display: flex;
    justify-content: space-around;
}

.switch-button {
    width: 200px;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}