[data-theme="light"] {
    --color: rgb(35 39 47 / 0.95);
}

[data-theme="dark"] {
    --color: #fff;
}

.body {
    color: var(--color);
}

.modal-container {
    padding: 10px 10px;
}

.switch-form-container{
    display: flex;
    justify-content: space-around;
}