.container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 50%;
  margin-top: 25px;
}

.formItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
}

.nameOfItem {
  width: 60%;
  font-size: 25px;
  margin: 0px 0px;
  display: flex;
  align-self: center;
}

.test {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.test:nth-child(n+1) {
  margin: 10px 0px;
}

.nameOfTest {
  width: 20%;
}

.inputContainer {
  width: 100%;
}

.checkboxContainer {
  margin-left: 30px;
}

.deleteContainer {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.saveTestContainer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.addAnswer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.saveTest {
  margin-top: 30px;
}

.addQuestion {
  margin-top: 20px;
}

.questionContainer {
  margin-top: 40px;
}

.nameOfItemContainer {
  display: flex;
  justify-content: space-between;
}