.lessonPage {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prevQuestion {
  position: absolute;
  top: 50%;
  left: 0;
}

.nextQuestion {
  position: absolute;
  top: 50%;
  right: 0;
}

.topic {
  margin-top: 10px;
}

.sentenceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

.sentence {
  font-size: 50px;
  margin: 0px 0px 0px 0px;
}

.answerContainer {
  height: 30px;
  margin: 0px 0px;
}

.correctAnswerContainer {
  
}

.answer {
  font-size: 50px;
  color: rgb(46, 125, 50);
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */ 
}

.uncorrectAnswer {
  font-size: 50px;
  color: rgb(211, 47, 47);
  margin: 100px 0px;
}

.correct {
  font-size: 50px;
  color: rgb(46, 125, 50);
  margin-top: 100px;
}

.words {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin-top: 200px;
  gap: 0px 50px;
}

.word {
  margin: 30px 0px;
}

.pagination :nth-child(2n) {
  margin: 100px 10px;
}